{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
  <h2>{{ heading_title }}</h2>
      <h3>Error:</h3>
      <p>{{ text_message }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ continue }}</a></div>
      </div>
  {{ content_bottom }}
</div>
{{ footer }}